*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh !important;
}

.sidebar-filter {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #f3f3f3;
    padding: 10px;
}

.items-table {
    margin-left: 250px;
    height: 100vh;
    max-height: 100vh;
}